<html>
    <head>
        <title>ЖелезныйМишка</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Мой блог</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Посмотрим где это вылезит</p>
        </div>

        <div>
            <p>Опубликовано 8 августа 2021 года</p>
            <h2><a href="">мой первый пост</a></h2>
            <p>И это гле то вылезет</p>
        </div>
    </body>
</html>
